@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Manrope:wght@200..800&family=Passion+One:wght@400;700;900&display=swap");

:root {
  --font-primary: "Manrope", sans-serif;
  --font-secondary: Arial, sans-serif;

  --primary: #fbb02d;
  --background: #fbfbfb;
  --dark: #0c090d;
  --footer: #494949;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--font-primary);
  color: var(--dark);
  background-color: var(--background);
  letter-spacing: 0.5px;
}

/* Textos Básicos */

p {
  text-indent: 2em;
  font-size: 16px;
  font-weight: 300;
}

.hyperlink {
  font-weight: 300;
  text-transform: capitalize;
  width: fit-content;
  background-color: var(--primary);
  color: var(--dark);
  text-decoration: none;
  padding: 0 5px;
  margin-top: 24px;
}

.hyperlink:after {
  content: "\00A0\2192";
}

.hyperlink:hover {
  text-decoration: underline;
}

.hyperlink:hover:after {
  content: "\00A0\00A0\2192";
}

button {
  color: var(--background);
  background-color: var(--dark);
  border: none;
  padding: 0.3em 1em;
}

button:hover {
  background-color: var(--primary);
  color: var(--dark);
}

button > p {
  text-indent: 0em;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  line-height: 1.7em;
}

button {
  transition: all 0.3s ease 0ms;
}

button > p:hover::after {
  content: "\00A0\00A0\2192";
  color: var(--dark);
}

span {
  color: var(--primary);
}

h1 {
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 56px;
  font-weight: 800px;
  background-color: var(--primary);
  width: fit-content;
  padding: 5px;
  line-height: 0.8em;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
  background-color: var(--primary);
  width: fit-content;
  line-height: 0.8em;
  padding: 5px;
}

h4 {
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  font-weight: 800;
}

h6 {
  font-size: 16px;
  font-weight: 300;
  background-color: var(--primary);
  width: fit-content;
  line-height: 0.8em;
  padding: 5px;
}

#first-section {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.column-sixty-percent {
  max-width: 60%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.column-forty-percent {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card {
  max-width: 280px;
  max-height: 280px;
  overflow-y: hidden;
  padding: 4px;
  margin: 4px;
  cursor: pointer;
}

.card > h4,
.card > p {
  text-align: center;
  line-height: 1.7em;
  text-indent: 0;
}

.card:hover > h4 {
  color: var(--primary);
  transition: 500ms;
}

.card > p {
  color: #494949;
}

.card > div {
  display: flex;
  justify-content: center;
}

.card > div > img {
  filter: invert(0%) sepia(5%) saturate(7500%) hue-rotate(261deg)
    brightness(106%) contrast(106%);
  max-width: 30%;
}

.card > div > #github-icon {
  max-width: 24%;
  background-color: rgba(000, 000, 000, 0);
}

#first-section > img {
  position: relative;
  top: 0px;
  right: 0px;
  max-height: 100vh;
}

#first-section .text-box {
  margin-left: 10vw;
  width: 700px;
}

#first-section > .column-sixty-percent > .text-box > h6 {
  margin-bottom: 2em;
}

#first-section > .column-sixty-percent > .text-box > p {
  margin-bottom: 2em;
  max-width: 600px;
}

.sobre-mim {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 120px auto;
}

.big-container {
  max-width: 1000px;
}

.container {
  max-width: 800px;
}

.center-div {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.container h4 {
  margin: 1em 0;
}

.two-column {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.space-between {
  justify-content: space-between;
}

.container > .two-column > .two-column-text {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > .two-column > .two-column-text > div > h4 {
  margin-top: 0;
}

.square-grid {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  margin-right: 2em;
}

.square-grid > abbr {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
}

.square-grid > abbr:hover {
  background-color: var(--primary);
  transition: 500ms;
}

.square-grid > abbr:hover img {
  filter: invert(0%) sepia(5%) saturate(7500%) hue-rotate(261deg)
    brightness(106%) contrast(106%);
  max-width: 75%;
  max-height: 75%;
}

.square-grid > abbr > img {
  max-height: 60%;
  max-width: 60%;
  filter: invert(74%) sepia(38%) saturate(1264%) hue-rotate(350deg)
    brightness(98%) contrast(100%);
}

.square-grid > abbr > #java-icon {
  transform: translate(0, -8px);
}

.diploma {
  background-color: var(--dark);
  color: var(--background);
  margin: 8px;

  width: 200px;
  height: 100px;
  padding: 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.diploma:hover {
  transform: translateY(-5px);
  transition: 500ms;
}

.diploma:hover > h3 {
  color: var(--primary);
}

.diploma > img {
  height: 50px;
  margin-right: 8px;
  filter: invert(74%) sepia(38%) saturate(1264%) hue-rotate(350deg)
    brightness(98%) contrast(100%);
}

.diploma > h3 {
  background-color: rgba(0, 0, 0, 0);
  line-height: 1.2em;
}

.column-forty-percent > a {
  text-decoration: none;
}

.extra-habilities {
  display: flex;
  justify-content: center;
}

.extra-habilities > button:hover {
  padding-right: 20px;
  padding-left: 20px;
  transition: 300ms;
}

.extras {
  margin-top: 64px;
  margin-bottom: 64px;
}

.project {
  display: flex;
  flex-direction: row;
  margin: 64px 0;
  align-items: center;
  justify-content: center;
}

#project-image-fsw {
  background-image: url(images/projects/fsw-barber.png);
  background-size: cover;
  background-position: center left;
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

#project-image-gridcss {
  background-image: url(images/projects/grid-css.png);
  background-size: cover;
  background-position: center right;
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

#project-image-propartners {
  background-image: url(images/projects/propartners.png);
  background-size: cover;
  background-position: center left;
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.project-details {
  max-width: 75%;
  padding: 25px;
}

.project-details p {
  margin: 24px 0;
}

.dark-section {
  background-color: var(--primary);
  padding: 120px 0;
}

.dark-section > .center-div > h2 {
  background-color: var(--dark);
  color: var(--primary);
}

.dark-section > .grid {
  display: grid;
  max-width: fit-content;
  margin: 0 auto;
  grid-template-columns: 20vw 20vw;
  grid-template-rows: 20vw 20vw 20vw 20vw;
  gap: 1em;
  margin-top: 64px;
}

.grid > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--dark);
}

.grid > #grid-one {
  background-image: url(images/livros.jpg);
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid > #grid-two {
  background-image: url(images/astronautas.png);
  background-size: cover;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid > #grid-three {
  background-image: url(images/anime.png);
  background-size: cover;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid > #grid-four {
  background-image: url(images/super-metroid.png);
  background-size: cover;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.contact {
  background-color: var(--dark);
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
}

.contact > .container > div {
  width: 400px;
}

.contact > .container > div > ul {
  margin-top: 48px;
}

.contact > .container > div > ul > li {
  line-height: 1.7em;
}

.contact > .container > div > ul > li > a {
  text-decoration: none;
  color: var(--primary);
}

.contact > .container > div > ul > li > a::after {
  content: "\00A0\00A0\2192";
}

.contact > .container > div > ul > li > a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  max-width: 200px;
}

.social-media > a {
  text-decoration: none;
}

.social-media > a > div {
  background-color: var(--primary);
  color: var(--dark);
  width: 36px;
  height: 36px;
  padding: 4px;
  margin: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-media > a > div:hover {
  transform: translateY(-4px);
  transition: 300ms;
}

#instagram:hover {
  background-color: #d700bb;
  color: var(--background);
}

#facebook:hover {
  background-color: #0866ff;
  color: var(--background);
}

#linkedin:hover {
  background-color: #0a66c2;
  color: var(--background);
}

#github:hover {
  background-color: #3d424d;
  color: var(--background);
}

#telegram:hover {
  background-color: #32a8e5;
  color: var(--background);
}

#whatsapp:hover {
  background-color: #25d366;
  color: var(--background);
}

footer {
  background-color: var(--footer);
  color: var(--primary);
  display: flex;
  justify-content: center;
  padding: 12px;
}

#sloping {
  transform: rotate(-2deg);
}
