@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Manrope:wght@200..800&family=Passion+One:wght@400;700;900&display=swap");

:root {
  --font-primary: "Manrope", sans-serif;
  --font-secondary: Arial, sans-serif;

  --primary: #fbb02d;
  --background: #fbfbfb;
  --dark: #0c090d;
  --footer: #494949;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--font-primary);
  color: var(--dark);
  background-color: var(--background);
  letter-spacing: 0.5px;
}

/* Textos Básicos */

p {
  text-indent: 2em;
  font-size: 16px;
  font-weight: 300;
}

.hyperlink {
  font-weight: 300;
  text-transform: capitalize;
  width: fit-content;
  background-color: var(--primary);
  color: var(--dark);
  text-decoration: none;
  padding: 5px;
}

.hyperlink::after {
  content: "\00A0\00A0\2192";
}

button {
  color: var(--background);
  background-color: var(--dark);
  border: none;
  padding: 0.3em 1em;
}

button:hover {
  background-color: var(--primary);
  color: var(--dark);
}

button > p {
  text-indent: 0em;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  line-height: 1.7em;
}

button {
  transition: all 0.3s ease 0ms;
}

button > p:hover::after {
  content: "\00A0\00A0\2192";
  color: var(--dark);
}

span {
  color: var(--primary);
}

h1 {
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 56px;
  font-weight: 800px;
  background-color: var(--primary);
  width: fit-content;
  padding: 5px;
  line-height: 0.8em;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
  background-color: var(--primary);
  width: fit-content;
  line-height: 0.8em;
  padding: 5px;
}

h4 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  font-weight: 800;
}

h6 {
  font-size: 16px;
  font-weight: 300;
  background-color: var(--primary);
  width: fit-content;
  line-height: 0.8em;
  padding: 5px;
}

#first-section {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.column-sixty-percent {
  height: 100vh;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#first-section > img {
  position: relative;
  top: 0px;
  right: 0px;
  max-height: 100vh;
}

#first-section .text-box {
  margin-left: 10vw;
  width: 700px;
}

#first-section > .column-sixty-percent > .text-box > h6 {
  margin-bottom: 2em;
}

#first-section > .column-sixty-percent > .text-box > p {
  margin-bottom: 2em;
  max-width: 600px;
}
