@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Manrope:wght@200..800&family=Passion+One:wght@400;700;900&display=swap");

:root {
  --font-primary: "Manrope", sans-serif;
  --font-secondary: Arial, sans-serif;

  --primary: #fbb02d;
  --background: #fbfbfb;
  --dark: #0c090d;
  --footer: #494949;
}

/* basic text */

p {
  text-indent: 1em;
  font-size: 1.2em;
  font-weight: 300;
}

.hyperlink {
  font-weight: 300;
  text-transform: capitalize;
  width: fit-content;
  background-color: var(--primary);
  color: var(--dark);
  text-decoration: none;
  padding: 0 5px;
  margin-top: 24px;
}

.hyperlink:after {
  content: "\00A0\2192";
}

.hyperlink:hover {
  text-decoration: underline;
}

.hyperlink:hover:after {
  content: "\00A0\00A0\2192";
}

button {
  color: var(--background);
  background-color: var(--dark);
  border: none;
  padding: 0.3em 1em;
}

button:hover {
  background-color: var(--primary);
  color: var(--dark);
}

button > p {
  text-indent: 0em;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  line-height: 1.7em;
}

button {
  transition: all 0.3s ease 0ms;
}

button > p:hover::after {
  content: "\00A0\00A0\2192";
  color: var(--dark);
}

span {
  color: var(--primary);
}

h1 {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 56px;
  font-weight: 800px;
  background-color: var(--primary);
  width: fit-content;
  padding: 5px;
  line-height: 0.8em;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
  background-color: var(--primary);
  width: fit-content;
  line-height: 0.8em;
  padding: 5px;
}

h4 {
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  font-weight: 800;
}

h6 {
  font-size: 16px;
  font-weight: 300;
  background-color: var(--primary);
  width: fit-content;
  margin: auto;
  line-height: 0.8em;
  padding: 5px;
}

/*sections*/
#first-section {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-wrap: wrap;

  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.column-sixty-percent {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.column-forty-percent {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#first-section > .column-sixty-percent > .text-box > h1,
h5,
h6 {
  text-align: center;
}

#first-section > .image {
  width: 100%;
  min-height: 860px;
}

#first-section > .image > img {
  height: 100%;
  display: block;
}

#new {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.new-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 25px;
  transform: translateY(-16px);
}

#image-fundo {
  display: none;
}

.text-box {
  max-width: 700px;
  padding-top: 24px;
}

#image-fundo-mobile {
  width: 100vw;
  height: 75vh;
  background-image: url(../images/photo.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text-box > a > button {
  display: block;
  margin: auto;
  padding: 12px;
}

.text-box > a {
  text-decoration: none;
}

.text-box > p {
  margin-top: 12px;
  margin-bottom: 12px;
}

#sobre-mim {
  padding: 10px;
}

#sobre-mim > .container > h4 {
  text-align: center;
}

.square-grid {
  margin: auto;
  margin-bottom: 3em;
}

#sobre-mim > .container > .two-column > .two-column-text > div > h4 {
  text-align: center;
}

#sobre-mim > .container > .two-column > .two-column-text > div {
  margin-bottom: 2em;
}

#sobre-mim > .container > .two-column > .two-column-text > #button-contact {
  text-align: center;
}

#sobre-mim > .container > .two-column > .two-column-text > div > a > button {
  padding: 1em 2em;
}

.certificados {
  display: none;
}

.certificados-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.certificados-mobile > a {
  display: block;
}

.certificados-mobile > a > .diploma {
  width: 300px;
}

.column-sixty-percent {
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.column-sixty-percent > .card {
  max-height: 480px;
}
